div {
    width:50%;
    /*background-color: #607D8B;*/
    background-color: yellowgreen;
    float:left;}

.tops{
    float:right; 
    width:15%; 
    /*background-color: #607D8B;*/
    background-color: yellowgreen;
}

.conteiner{
    width:70%; 
    background-color:red;
}