h1, h3, div, li, span, button {
    text-align: center;
}

.container {
    background-color: wheat;
    width: 70%;
    float: left;
}

.owner {
    background-color: aquamarine;
}

.joined {
    background-color: cornflowerblue;
}

.not-joined {
    background-color: darkgray;
}

