<div class="container">
    <div class="panel-group">
        <h1>Game Lobby</h1>
        <div>
            <!--<span>Create Game: </span>-->
            <button class="btn" type="button" (click)="createGame()">Create Game</button>
        </div>

        <div class="panel panel-default" style="margin-top: 10px;">

            <div class="panel-heading">Pending Games:</div>
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let game of gamesInRoom">
                    <div *ngIf="game.status == 'INWAITINGROOM'">
                        <div *ngIf="game.createdBy === player.username" class="owner">
                            <span class="joined">Creator: {{ game.createdBy }} | ({{ game.players.length }}/4)</span>
                            <div style="margin-left: 0px;">
                                <button class="btn" (click)="removeGame(game)">Apagar</button>
                                <button class="btn" *ngIf="game.players.length > 1" (click)="startGame(game)" >Começar</button>
                            </div>
                        </div>
                        <div *ngIf="game.createdBy !== player.username">
                            <span *ngIf="playerIn(game)" class="joined">Creator: {{ game.createdBy }} | ({{ game.players.length }}/4)</span>
                            <span *ngIf="!playerIn(game)" class="not-joined">Creator: {{ game.createdBy }} | ({{ game.players.length }}/4)</span>
                            <div style="margin-left: 0px;">
                                <button class="btn" *ngIf="playerIn(game)" (click)="leaveGame(game)">Sair</button>
                                <button class="btn" *ngIf="!playerIn(game) && game.players.length < 4" (click)="enterGame(game)">Entrar</button>
                            </div>
                        </div>
                        <span *ngIf="game.players.length === 4">(Full)</span>
                    </div>
                </li>
            </ul>

        </div>

        <div *ngIf="!gamesInRoom">
            <span>Failed to connect to server.</span>
        </div>
    </div>
</div>