
.dad-board{
  float: left;
}

.dad-row .dad-cell {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  /*line-height: 50px;*/
  text-align: center;

}

.dad-row .dad-cell input {
  width: 25px;
  height: 25px;
  text-align: center;
  outline: none;
  border: none;
  display: block;
  /*margin: 4px;*/
}