<div class="container">
<div *ngFor="let game of playerStateGame" id="{{game.idGame}}" style="background-color:lightgrey;width:80%">

    <div  *ngIf="game.status == 'PENDING'" style="background-color:darkgrey;">
        <h3>Config Ships</h3>
        Tipo de Navio: 
        <select id=tiponavio>
            <option value=0 selected>Porta-Aviões ({{game.boardDefense.currentValues['PortaAvioes']}}/1)</option>
            <option value=1>Couraçado ({{game.boardDefense.currentValues['Couracado']}}/1)</option>
            <option value=2>Cruzador ({{game.boardDefense.currentValues['Cruzador']}}/2)</option>
            <option value=3>Contra-Torpedeiro ({{game.boardDefense.currentValues['ContraTorpedeiro']}}/3)</option>
            <option value=4>Submarino ({{game.boardDefense.currentValues['Submarino']}}/4)</option>
        </select>
        Orientação
        <select id=orientacao>
            <option value=0 selected>Normal</option>
            <option value=1>Roda 90º</option>
            <option value=2>Roda 180º</option>
            <option value=3>Roda 270º</option>
        </select>    
        Linha (A..J): <input type=text id=linha>
        Coluna (1..10): <input type=text id=coluna>
        <button id=add (click)="addNavioToBoardDefense(game.idGame)">Add Ship</button>
        <button id=limpar (click)="limparTabuleiro(game.idGame)">Clear Board</button>
        <button id=ready (click)="ready(game.idGame)">Ready</button>
        <hr>
        <h3>Exceção: <span id=msgerro style="color:red"></span></h3>
        <hr>
        <!--<table id=tabela border=1>
        </table>    -->
        <hr>
        <h3>Lista de navios</h3>
        <ul id=listanavios>
        </ul>
    </div>

    <table id=tabela border=1 style="width:80%;">
        <tr *ngFor="let line of LINES" class="dad-row">
            <td class="dad-cell">{{line}}</td>
            <td *ngFor="let column of COLUMNS" class="dad-cell">
                <input type="text" *ngIf="game.boardDefense.getCelula(line, column).tipo == 1" value="N"/>
            </td>
        </tr>
        <tr class="dad-row">
            <td class="dad-cell"></td>
            <td *ngFor="let column of COLUMNS" class="dad-cell">{{column}}</td>
        </tr>
    </table>




    <div *ngFor="let boardAttack of game.boardsAttack" >
        <table border=1>
            <tr *ngFor="let line of LINES" class="dad-row">
                <td class="dad-cell">{{line}}</td>
                <td *ngFor="let column of COLUMNS" class="dad-cell">
                    <input type="text" value="{{boardAttack.getValue(line, column)}}" (click)="shot(game.idGame, boardAttack.username, line, column)"/>
                </td>
            </tr>
            <tr class="dad-row">
                <td class="dad-cell"></td>
                <td *ngFor="let column of COLUMNS" class="dad-cell">{{column}}</td>
            </tr>
        </table>
    </div>


</div>
</div>