<div class="container">
        <h1>Top 10</h1>

        <h2>Top 10 Victories</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Victories</th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let player of top10Victories">
                    <td>{{player.name}}</td>
                    <td>{{player.totalVictories}}</td>
                </tr>
            </tbody>
        </table>

        <h2>Top 10 Points</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Points</th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let player of top10Points">
                    <td>{{player.name}}</td>
                    <td>{{player.totalPoints}}</td>
                </tr>
            </tbody>
        </table>
</div>

<!--<div class="tops" *ngIf="!top10Victories && !top10Points">
    <h1>Top 10</h1>
    <span>Failed to connect to server.</span>
</div>-->