<!--<h1>Historico</h1>
<h3>Filter by:</h3>
<button type="button" (click)="getMyGames()">My Games</button>
<button type="button" (click)="getAllGames()">All Games</button>
<h3>Results:</h3>
<ul>
    <li *ngFor="let historical of historicals">
        <span>Create By: {{historical.createdBy}}</span>
        <span>Aborted: {{historical.aborted}}</span>
        <span>Start Date: {{historical.startDate}}</span>
        <span>End Date: {{historical.endDate}}</span>
        <span>Winner: {{historical.winner}}</span>
        <ul>
            <li *ngFor="let player of historical.players">
                      <span>
                        {{player.username}}
                      </span>
            </li>
        </ul>
    </li>
</ul>-->

<div class="container">
<div class="panel-group">

    <h1>Historical</h1>
    <h3>Filter by:</h3>
    <button type="button" id="filter_my_games" class="btn active" onclick="filter_my_games()" (click)="getMyGames()">My Games</button>
    <button type="button" id="filter_all_games" class="btn disabled" disabled="disabled" onclick="filter_all_games()" (click)="getAllGames()">All Games</button>

<div class="panel panel-default" style="margin-top: 10px;">
    <div class="panel-heading">Results</div>
    <div class="panel-body">

        <div class="container-fluid">
            <div class="row">

        <ul class="list-group">
            <li class="list-group-item" *ngFor="let historical of historicals">

                <div class="col-sm-6" style="background-color:white;">
                    <h5><b style="color: #009688">ID Game:</b> {{historical._id}}</h5>
                    <p><b>Create By:</b>  {{historical.createdBy}}</p>
                    <p><b>Winner:</b>  {{historical.winner}}</p>
                </div>

                <div class="col-sm-6" style="background-color:white;">
                    <p><b>Aborted:</b>  {{historical.aborted}}</p>
                    <p><b>Start Date:</b>  {{historical.startDate}}</p>
                    <p><b>End Date:</b>  {{historical.endDate}}</p>
                </div>

                <!--<h5>Players:</h5>
                <ul>
                    <li *ngFor="let player of historical.players">
                      <span>
                        username: {{player.username}}
                      </span>
                        <span>
                        score: {{player.score}}
                      </span>
                        <span>
                        classification: {{player.classification}}
                      </span>
                    </li>

                </ul>-->

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Classification</th>
                        <th>Username</th>
                        <th>Score</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let player of historical.players">
                        <td>{{player.classification}}º</td>
                        <td>{{player.username}}</td>
                        <td>{{player.score}}</td>
                    </tr>
                    </tbody>
                </table>

            </li>

        </ul>
            </div>
        </div>

    </div>
</div>
</div>
</div>